

body{
  background-attachment: fixed;
  background-size: cover;
  background-image: url("pics/wer.jpg");
  min-height: 98vh;
}

audio {
  height: 36px;
  width: 100px;
}

footer {
  position:absolute; 
  bottom: 0;
}

video{
  width: 50%;
}






